.landing-bottom {
  height: 184px;
}
.landing-bottom .copyright {
  padding-top: 76px;
}
.social-icons ul {
  margin: 15px 0 0 0;
}
.social-icons ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.social-icons ul li:first-child {
  margin-left: 0;
}
.logo-bottom {
  padding-top: 76px;
}

.landing-bottom .newsletter-component {
  position: absolute;
  right: 0;
  top: 81px;
}
