.profession-list {
  list-style: none;
}

.profession-list li {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.profession-list li img {
  padding-bottom: 20px;
}

.profession-list li span {
  display: block;
  font-size: 16px;
  color: var(--white);
  font-weight: bolder;
}
