@import './config.pcss';
@import './muli-font.css';

@font-face {
  font-family: 'Avenir Black';
  src: url(../fonts/avenir-black.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--text-font-size);
  font-weight: var(--font-weight-light);
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  color: var(--dark);
  height: 100%;
}

body h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 200;
}

body h1 strong {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

body h2 {
  font-size: 40px;
  font-weight: bold;
}

body h2 a {
  font-size: 40px;
  font-weight: bold;
}

body h4 {
  font-size: 22px;
}

body a {
  color: var(--main-blue)
}

/* BUTTONS */
.btn.btn-white {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.6);
  color: var(--main-blue);
  font-size: 12px;
}
.btn.btn-outlined {
  border-radius: 10px;
  background: transparent;
  border: solid 1px var(--white);
  color: var(--white);
  font-size: 12px;
}

/* STYLES */
.small-text {
  font-size: 12px;
}
